@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .demo-card-wide{
        width: 100%;
    }
    .mdl-card__supporting-text{
        text-align: center;
    }
    .unselectable{
        width: 35% !important;
        height: 30% !important;
    }

    .mdl-card__title{
        height: 50%;
    }

    .login-card-title {
        max-width: 100%;
        justify-content: center;
    }

    .login-form {
        width: 70% !important;
        margin-left: 15%;
        margin-right: 15%;
    }
}
